{% extends 'base.html' %}

{% block content %}
    <select name="ts_id" id="measure">
        {% for v in measures_ids %}
            <option value="{{ v }}" name="{{ v }}">Measure {{ v }}</option>
        {% endfor %}
    </select>
    <button onclick="getSomeData()">Control</button>
    Is new measure
{#    <input type="checkbox" name="is_new_measure_check" id="is_new_measure_check">#}
    <!--Div that will hold the pie chart-->
    <div id="main_chart_div"></div>
    <div id="tracker_chart_div"></div>
{% endblock %}